[submodule "na"]
	path = na
	url = https://github.com/wxkj99/na-quiz.git
[submodule "qr"]
	path = qr
	url = https://github.com/wxkj99/QR-view-simple.git
[submodule "mechanics"]
	path = mechanics
	url = https://github.com/wxkj99/mechanics-quiz.git
